<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MessageController</servlet-name>
        <servlet-class>Controller.MessageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PensionController</servlet-name>
        <servlet-class>Controller.PensionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>Controller.UserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MessageController</servlet-name>
        <url-pattern>/MessageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PensionController</servlet-name>
        <url-pattern>/PensionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/UserController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
